# Node.js dependencies
**/node_modules/

# TypeScript output folder
**/dist/

# Logs
*.log

# Temporary files
*.swp
*.swo

# macOS Finder files
.DS_Store

# VSCode settings folder (optional, if using VSCode)
.vscode/
